.header-flex nav{
    display: flex;
    justify-content: space-between ;
    align-items:center;
}
.active {
    color: #e91e63
} 
.nav-list {
    flex-grow: 4;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    padding: 0 50px;
    font-weight: bolder;
    align-items: center;

    
}
.nav-list > a:hover{
    text-decoration: underline;;
}
.user-info{
   background-color: #4b626d;
   padding: 0 10px;
}

nav.col {
    padding-right: 0px!important;
}