div[class^='card-tag'] {
    padding: 10px;
    float: right;
    max-width: max-content;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
.card-tag-true{
    background-color: pink;
}
.card-tag-false{
    background-color: #cddc39;
}

.card-image{
    height: 25%;
}
